<html>
 <head>
    <title>Form</title>
         <link href="{{ asset('bundles/ScriptPhpScripts/css/common.css') }}" rel="stylesheet" type="text/css"></script>
     <script type="text/javascript" src="{{ asset('bundles/ScriptPhpScripts/js/jquery.js') }}"></script>
    
    </head>

    <body>
       
        
          <div id="pMain" class="h800">
    
    <div id="topLine">
    <div id="leftTop" class="fLeft">
     <h1>Form Submit Test</h1>
        </div>
        
        <div id="rightTop" class="fRight">
            <a href="{{ path('_scripts_homepage') }}">
            <img src="{{ asset('bundles/ScriptPhpScripts/img/home_24_24.png') }}" alt="home" />
            </a>
        </div>
    </div>
        
         </div>
        
    </body>
</html>