<html>
    <head>
    <title>PHP Scripts</title>
         <link href="{{ asset('bundles/ScriptPhpScripts/css/common.css') }}" rel="stylesheet" type="text/css"></script>
     <script type="text/javascript" src="{{ asset('bundles/ScriptPhpScripts/js/jquery.js') }}"></script>
    
    </head>
    <body>
    
    <div id="pMain" class="h800">
    
    <div id="topLine">
	
		<h1>PHP Scripts</h1>
		</div>
		
		<ul>
			<li></li>
		</ul>
		
		<h2>Tests</h2>
		
		<ul>
		  <li><a href="{{ path('_scripts_tests_form') }}">Form page</a></li>
        </ul>
        
        </div>
	
	</body>
</html>